
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&family=Poppins:wght@400;900&display=swap');
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html,
body {      
    background-color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
}

.container {
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.container-fluid {
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.container-fluid>.row {
    height: 100%;
}

.container>.row {
    height: 100%;
}



.navbar-toggler:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* mobile view fluid */

@media (max-width: 768px) {
    .container {
        width: 100%;
        max-width: none;
    }
    html,
    body {
        background-color: rgb(255, 255, 255);
        width: 100%;
        overflow-x: hidden;
        padding: 0;
        margin: 0;
    }       
}


/* mobile view fluid end */


/* Spinner start */

.spinner {
    width: 17.6px;
    height: 17.6px;
    -webkit-animation: spinner-o824ag 1.2s infinite linear;
    animation: spinner-o824ag 1.2s infinite linear;
}

.spinner div {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(231, 69, 110);
    border-radius: 50%;
    -webkit-animation: spinner-vse6n7 1.5s infinite ease;
    animation: spinner-vse6n7 1.5s infinite ease;
}

.spinner div:nth-child(1) {
    --rotation: 90;
}

.spinner div:nth-child(2) {
    --rotation: 180;
}

.spinner div:nth-child(3) {
    --rotation: 270;
}

.spinner div:nth-child(4) {
    --rotation: 360;
}

@-webkit-keyframes spinner-vse6n7 {
    0%,
    100% {
        -webkit-transform: rotate(calc(var(--rotation) * 1deg)) translateY(0);
        transform: rotate(calc(var(--rotation) * 1deg)) translateY(0);
    }
    50% {
        -webkit-transform: rotate(calc(var(--rotation) * 1deg)) translateY(300%);
        transform: rotate(calc(var(--rotation) * 1deg)) translateY(300%);
    }
}

@keyframes spinner-vse6n7 {
    0%,
    100% {
        -webkit-transform: rotate(calc(var(--rotation) * 1deg)) translateY(0);
        transform: rotate(calc(var(--rotation) * 1deg)) translateY(0);
    }
    50% {
        -webkit-transform: rotate(calc(var(--rotation) * 1deg)) translateY(300%);
        transform: rotate(calc(var(--rotation) * 1deg)) translateY(300%);
    }
}

@-webkit-keyframes spinner-o824ag {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner-o824ag {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.spining {
    width: 100vw;
    height: 100vh;
    background-image: -o-linear-gradient(bottom, rgb(0, 0, 0), black);
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(0, 0, 0)), to(black));
    background-image: linear-gradient(to top, rgb(0, 0, 0), black);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    z-index: 1500;
}


/* Spinner end */

/* back to top */

.back-to-top {
    position: fixed;
    right: 25px;
    bottom: 25px;
    background-color: rgb(231, 69, 110, 0.4);
    color: #000;
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    z-index: 500;
}

.back-to-top:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 44);
    font-weight: bold;
}

.cir {
    background-color: white;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}


/* back to top */


/* para font size */

.p-10 {
    font-size: 10px;
}

.p-11 {
    font-size: 11px;
}

.p-12 {
    font-size: 12px;
}

.p-13 {
    font-size: 13px;
}

.p-14 {
    font-size: 14px;
}

.p-15 {
    font-size: 15px;
}

.p-16 {
    font-size: 16px;
}

.p-17 {
    font-size: 17px;
}

.p-18 {
    font-size: 18px;
}

.p-19 {
    font-size: 19px;
}

.p-20 {
    font-size: 20px;
}

.p-30 {
    font-size: 30px;
}

.p-40 {
    font-size: 40px;
}

.p-50 {
    font-size: 50px;
}

.p-60 {
    font-size: 60px;
}

.p-70 {
    font-size: 70px;
}

.p-80 {
    font-size: 80px;
}

.p-90 {
    font-size: 90px;
}

.p-100 {
    font-size: 100px;
}


/* Padding top */

.pt-10 {
    padding-top: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-60 {
    padding-top: 60px;
}

.pt-70 {
    padding-top: 70px;
}

.pt-80 {
    padding-top: 80px;
}

.pt-90 {
    padding-top: 90px;
}

.pt-100 {
    padding-top: 100px;
}

.pt-110 {
    padding-top: 110px;
}

.pt-120 {
    padding-top: 120px;
}

.pt-130 {
    padding-top: 130px;
}

.pt-140 {
    padding-top: 140px;
}

.pt-150 {
    padding-top: 150px;
}





/* Padding bottom */

.pb-10 {
    padding-bottom: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pb-90 {
    padding-bottom: 90px;
}

.pb-100 {
    padding-bottom: 100px;
}


/* Padding x */

.px-10 {
    padding-right: 10px;
    padding-left: 10px;
}

.px-20 {
    padding-right: 20px;
    padding-left: 20px;
}

.px-30 {
    padding-right: 30px;
    padding-left: 30px;
}

.px-40 {
    padding-right: 40px;
    padding-left: 40px;
}

.px-50 {
    padding-right: 50px;
    padding-left: 50px;
}

.px-60 {
    padding-right: 60px;
    padding-left: 60px;
}

.px-70 {
    padding-right: 70px;
    padding-left: 70px;
}

.px-80 {
    padding-right: 80px;
    padding-left: 80px;
}

.px-90 {
    padding-right: 90px;
    padding-left: 90px;
}

.px-100 {
    padding-right: 100px;
    padding-left: 100px;
}

.px-120 {
    padding-right: 120px;
    padding-left: 120px;
}


/* margin */

.m-10 {
    margin: 10px;
}

.m-20 {
    margin: 20px;
}

.m-30 {
    margin: 30px;
}

.m-40 {
    margin: 40px;
}

.m-50 {
    margin: 50px;
}

.m-60 {
    margin: 60px;
}

.m-70 {
    margin: 70px;
}

.m-80 {
    margin: 80px;
}

.m-90 {
    margin: 90px;
}

.m-100 {
    margin: 100px;
}


/* margin top */

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-90 {
    margin-top: 90px;
}

.mt-100 {
    margin-top: 100px;
}


/* margin top */

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-90 {
    margin-bottom: 90px;
}

.mb-100 {
    margin-bottom: 100px;
}


/* margin x */

.mx-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.mx-20 {
    margin-left: 20px;
    margin-right: 20px;
}

.mx-30 {
    margin-left: 30px;
    margin-right: 30px;
}

.mx-40 {
    margin-left: 40px;
    margin-right: 40px;
}

.mx-50 {
    margin-left: 50px;
    margin-right: 50px;
}

.mx-60 {
    margin-left: 60px;
    margin-right: 60px;
}

.mx-70 {
    margin-left: 70px;
    margin-right: 70px;
}

.mx-80 {
    margin-left: 80px;
    margin-right: 80px;
}

.mx-90 {
    margin-left: 90px;
    margin-right: 90px;
}

.mx-100 {
    margin-left: 100px;
    margin-right: 100px;
}


/* margin x reverse */

.mxr-10 {
    margin-left: -10px;
    margin-right: -10px;
}

.mxr-20 {
    margin-left: -20px;
    margin-right: -20px;
}

.mxr-30 {
    margin-left: -30px;
    margin-right: -30px;
}

.mxr-40 {
    margin-left: -40px;
    margin-right: -40px;
}

.mxr-50 {
    margin-left: -50px;
    margin-right: -50px;
}

.mxr-60 {
    margin-left: -60px;
    margin-right: -60px;
}

.mxr-70 {
    margin-left: -70px;
    margin-right: -70px;
}

.mxr-80 {
    margin-left: -80px;
    margin-right: -80px;
}

.mxr-90 {
    margin-left: -90px;
    margin-right: -90px;
}

.mxr-100 {
    margin-left: -100px;
    margin-right: -100px;
}

/* Gendral */
.center{
    text-align: center;
}
.border-none{
    border: none;
}
.divide{
    border-bottom: 0.5px solid rgb(43, 43, 43, 0.07);
}
/* Gendral */


/* Colors */

.tra{
    background-color: transparent;
}

.color1{
    color: rgb(231, 69, 110);
}
.color2{
    color: rgb(110, 110, 110);
}

/* Colors end */


/* Hero page */

.max{
    max-height: 500px;
}
.bg-01{
    background-image: linear-gradient(10deg, rgb(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0.9)), url(../image/bg3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;      
}
.bg-02{
    background-image: linear-gradient(10deg, rgb(255, 255, 255, 0.7) 60%, rgba(255, 255, 255, 0.9)), url(../image/bg4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;      
}
.bg-03{
    background-image: linear-gradient(20deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.9)), url(../image/bg7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;      
}


/* Hero page end */


/* Section 1 */

.bg-04{
    background-image: linear-gradient(20deg, rgba(240, 253, 255, 0.8), rgba(234, 251, 255, 0.9)), url(../image/bg4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;      
}
.sec1-card {    
    background-image: linear-gradient(rgba(170, 252, 255, 0.2), rgba(157, 252, 255, 0.2));
    transition: 0.3s;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
}
.sec1-card:hover {        
    transform: scale(1.03);
}

/* Section 1 end */




/* section 2 */

.bg-05{
    background-image: linear-gradient(20deg, rgba(255, 255, 255, 0.8) 0%, rgba(239, 252, 255, 0.8)), url(../image/bg3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;      
}
.sec2-card {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(171, 163, 255, 0.5));
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)); */
    transition: 0.3s;    
    border-radius: 10px;
    border: none;
}
.sec2-card:hover {        
    transform: scale(1.03);
}

/* section 2 */


/* section 2 */

.bg-06{
    background-image: linear-gradient(20deg, rgba(255, 255, 255, 0.8) 0%, rgba(239, 252, 255, 0.8)), url(../image/bg3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;      
}
.sec3-card {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(171, 163, 255, 0.5));
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)); */
    transition: 0.3s;    
    border-radius: 10px;
    border: none;
}
.sec3-card:hover {        
    transform: scale(1.03);
}

/* section 2 */


/* section 3 */

.bg-07{
    background-image: linear-gradient(to top, rgb(255, 255, 255, 0.5), rgba(255, 255, 255)), url(../image/bg6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;      
}
.sec4-card {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
    backdrop-filter: blur(2px);
    transition: 0.3s;
    /* border: 2px solid #c8a4ff; */
    overflow: hidden;
    border: none;
    -webkit-box-shadow: 0px 6px 9px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 9px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 6px 9px -3px rgba(0, 0, 0, 0.75);
}
.sec4-card1 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
    transition: 0.3s;
    /* border: 2px solid #ffaef8; */
    overflow: hidden;
    border: none;
    -webkit-box-shadow: 0px 6px 9px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 9px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 6px 9px -3px rgba(0, 0, 0, 0.75);
}
.sec4-card:hover, .sec4-card1:hover {        
    transform: scale(0.95);
}
.sec4-card:hover .shap{
    /* background-color: #e95555; */
    background-image: url(../image/wave3.svg);
}
.sec4-card1:hover .shap1{
    /* background-color: #e95555; */
    background-image: url(../image/wave4.svg);
}
.shap{
    background-image: url(../image/wave1.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    
}
.shap1{
    background-image: url(../image/wave2.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

/* section 3 */


/* section 4 */

.bg-08{
    background-image: linear-gradient(to top, rgb(237, 238, 255), rgb(255, 255, 255));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;      
}
.sec5-card {
    transition: 0.5s ease-out;
    border: none;
    overflow: hidden;
    -webkit-box-shadow: -9px 10px 13px -2px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: -9px 10px 13px -2px rgba(0, 0, 0, 0.33);
    box-shadow: -9px 10px 13px -2px rgba(0, 0, 0, 0.33);
    border: 1px solid rgba(255, 255, 255, 0);
}
.sec5-card:hover {
    transform: scale(1.05);
    -webkit-box-shadow: -9px 10px 3px -13px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -9px 10px 3px -13px rgba(0, 0, 0, 0.75);
    box-shadow: -9px 10px 3px -13px rgba(0, 0, 0, 0.75);
    border: 1px solid #0d0053;
}

.logo{
    height: 70px;
    width: 70px;
}
.shap2{
    background-image: url(../image/wave5.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

/* section 4 */

/* section 5 */

.bg-09{
    background-image: linear-gradient(10deg, rgba(226, 221, 255, 0.1), rgba(171, 177, 255, 0.8), rgba(205, 210, 255, 0.8), rgb(226, 221, 255, 0.1));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bg-10{
    border-radius: 5px;
    padding: 20px 50px;
}

.form-box input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 90%;
    background-color: rgb(255, 255, 255);
    padding: 15px 20px;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.6);
}
.form-box{
    padding: 7px 8px;
    margin: 0px 0px;
}
@media screen and (max-width:999px) {
    .form-box input {
        width: 100%;
    }
}

/* section 5 */



/* Footer start */

.bg-footer {
    background-color: rgb(0, 0, 0);
} 

.bor1 {
    border: 1px solid white;
    padding: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 38px;
    height: 38px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 2px;
}

.logo-fot {
    color: white;
}

.bor1:hover {
    background-color: white;
    cursor: pointer;
}

.bor1:hover>a>.logo-fot {
    color: rgb(231, 69, 110);
}

.list1 {
    list-style-type: none;
    padding-left: 0pt;
}

.list1>li {
    padding-bottom: 5px;
}

.list1>li>a {
    text-decoration: none;
    color: white;
}

.ft-log {
    background-color: #ffffff;
    border-radius: 30px 30px;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 3px;
}

.bor2 {
    background-color: rgb(231, 69, 110);
    cursor: pointer;
    border: 1px solid white;
    padding: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 40px;
    height: 40px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 2px;
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
}

.ft-log>input {
    border: none;
    outline: none;
    font-weight: 400;
}

.card:hover>.card-body>.logo11 {
    color: #ff5e14;
}

/* Footer end */






